@use "../../../assets/css/variables.scss";

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 92px 0 92px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.0015em;
  color: variables.$secondary_color;
  flex: 1;
}

.session {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.session p {
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: variables.$secondary_color;
}

.session_time_container {
    width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid variables.$gray;
  border-radius: 8px;
  padding: 10px;
}

.session_time {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.0015em;
  color: variables.$secondary_color;
}

.border {
    height: 1px;
    width: 50%;
    border: 1px solid variables.$primary_color;
}