@use "../../assets/css/variables.scss";

.container {
  display: inline-block;
}

.button {
  height: 48px;
  border: 1px solid;
  border-radius: 8px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  cursor: pointer;
}

.solid {
  background-color: variables.$primary_color;
  color: variables.$white;
  border-color: variables.$primary_color;
}

.outlined {
  background-color: variables.$white;
  color: variables.$primary_color;
  border-color: variables.$primary_color;
}

.navbar {
  background-color: variables.$secondary_color;
  color: variables.$white;
  border-color: variables.$white;
}

.button:hover {
  filter: brightness(1.2);
}
