@use "../../../../../assets/css/variables.scss";

.container {
    padding: 12px 92px 12px 92px;
    display: flex;
    justify-content: space-between;
}

.arrangement, .guide_choosen {
    flex: 1;
}