@use "../../assets/css/variables.scss";

.container {
  padding: 40px 92px 40px 92px;
  background-color: variables.$white;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
