$primary_color: rgba(178, 34, 34, 1);
$secondary_color: rgba(29, 41, 57, 1);
$white: rgba(252, 252, 253, 1);
$gray: rgba(228, 231, 236, 1);
$dark_gray: rgba(102, 112, 133, 1);
$shadow: rgba(52, 64, 84, 0.08);
