@use "../../../assets/css/variables.scss";

.container {
  margin-top: 48px;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.0015em;
  color: variables.$secondary_color;
  padding-bottom: 24px;
}

.see_also_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(196px, 1fr));
  gap: 16px; 
  width: 100%; 
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.no_data {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.005em;
  color: variables.$secondary_color;
}
