@use "../../../../../../assets/css/variables.scss";

.seat {
  width: 52px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;

  &.available {
    border: 1px solid variables.$gray;
  }

  &.reserved {
    border: 1px solid variables.$gray;
    background-color: variables.$gray;
  }

  &.selected {
    border: 1px solid variables.$primary_color;
    background-color: variables.$primary_color;

    .name {
      color: variables.$white;
    }
  }

  &.vip {
    display: flex;
    justify-content: center;
    gap: 4px;
  }

  &.love {
    width: 112px;
    height: 40px;
  }
}

.name {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.0015em;
  color: variables.$secondary_color;
}
