@use "../../assets/css/variables.scss";

.container {
    position: fixed;
    z-index: 1000;
    width: 100%;
    max-width: 100%;
    height: 80px;
    background-color: variables.$secondary_color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid variables.$dark_gray;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    margin-right: 26px;
}

.link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}